/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
table,
table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}
img {
    vertical-align: top;
}
embed {
    vertical-align: top;
}
article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
    display: block;
}
mark,
rp,
rt,
ruby,
summary,
time {
    display: inline;
}
input,
textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}
iframe {
    border: 0;
    margin: 0;
    padding: 0;
}
input,
textarea,
select {
    margin: 0;
    padding: 0px;
}
html {
    -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
    width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}
a {
    color: #2e2e2e;
    text-decoration: none;
}
a:hover {
    opacity: 0.9;
    text-decoration: none;
}
a:focus, a:hover{
	color:#fff;
	text-decoration:none;
}
h1,
h2 {
    font-size: 25px;
    line-height: 25px;
}
h3,
h4 {
    font-size: 20px;
    line-height: 20px;
}
h5,
h6 {
    font-size: 16px;
    line-height: 16px;
}
p {
    margin: 10px 0;
}
.post {} .post:after,
.post:before,
article:after,
article:before,
section:after,
section:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clear {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix:after,
.clearfix:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: #e5e5e5;
    color: #fff;
    font: 14px/25px Arial, Helvetica, sans-serif;
    background-size: 100%;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */

header .top-bar {
    background: url(../images/a.png);
    color: #fff;
}
header .top-bar ul li {
    display: inline;
}
header .top-bar ul p {
    display: inline;
}
header .top-bar .mail p a {
    color: #fff;
    font-size: 14px;
}
header .top-bar .mail i {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
}
header .wrap-header .movies-request {
    display: inline-block;
    margin: 25px auto 0 auto;
    padding: 2px 15px;
    background-color: #fff;
    color: #fcab2b;
    border: 1px solid #fcab2b;
    border-radius: 15px;
    cursor: pointer;
}
header .wrap-header .movies-request i {
    padding-top: 4px;
    padding-left: 2px;
}
header .wrap-header .movies-request .movies-request-icon {
    padding-top: 2px;
}
header .wrap-header select {
    margin: 20px 0px;
}
header #search {
    margin: 25px auto 0 auto;
    display: inline-block;
}
header #search input[type="text"] {
    border: 0 none;
    font: 14px Arial, Helvetica, Sans-serif;
    color: #777;
    width: 220px;
    margin-bottom: 10px;
    padding: 8px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
header #search input[type="submit"] {
    background: #fcab2b;
    padding: 3px 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
header h1 {
    font-size: 13px;
}
.logo img {
    max-height: 80px;
    display: inline-block;
}
nav .active > a {
    background: #fcab2b!important;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #fcab2b;
}
.navbar-default {
    background-color: #2e2e2e;
    text-align: center;
    border: 0px;
    border-bottom: 4px solid #fcab2b;
}
.navbar-default ul a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}
.navbar-default .dropdown-menu a {
    font-size: 12px;
}
.navbar-default li a:hover {
    background-color: #fcab2b !important;
}
.dropdown-menu {
    background-color: #2e2e2e;
}
@media (min-width: 768px) {
    header .language {
        float: right;
        padding-top: 5px;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-brand {
        display: none;
    }
}
@media (max-width: 767px) {
    .nav>li {
        text-align: left;
    }
    header .language {
        float: left;
        padding-top: 5px;
    }
    header #search {
        margin: 0px;
    }
    header .wrap-header .movies-request {
        margin: 0px 0px 10px 0px;
    }
    h1,
    h2 {
        line-height: 30px;
    }
    #frame-player {
        width: 100%;
        height: 300px;
    }
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
/* ---MainContent-Article--- */

#main-content .movie,
#main-content .serie,
#side-bar .hot-movies,
#side-bar .requested-movies,
#side-bar .wid-tag,
#main-content .suggestion{
    background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.title {
    border-bottom: 2px solid #fcab2b;
    background-color: #2e2e2e;
	margin-bottom:10px;
}
.title h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    padding: 15px 0;
    letter-spacing: 2px;
}
.title h4 {
    font-size: 25px;
    color: #fff;
    display: inline-block;
    padding: 15px 0;
    letter-spacing: 2px;
}
.post {
    padding: 0;
    margin-top: 40px;
    text-align: center;
}
.post img.thumb {
    height: 230px;
    width: 100%;
}
.post h3 {
    color: #fcab2b;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 19px;
}
.post h3:hover {
    text-decoration: underline;
}
.post span {
    color: #fcab2b;
    font-size: 14px;
}
/* ---Sidebar-Widget--- */

.widget {
    margin-bottom: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
}
.widget:after,
.widget:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.widget .wid-header {
    border-bottom: 1px solid #fcab2b;
    margin-bottom: 20px;
    background-color: #2e2e2e;
}
.widget .wid-header h5,
.widget .wid-header h4 {
    font-size: 22px;
    display: inline-block;
    padding: 15px 0;
    letter-spacing: 2px;
    padding-left: 10px;
}
.widget .wid-content {
    padding: 10px;
}
.widget.wid-about {} .widget.wid-new-updates {} .widget.wid-new-updates ul a {
    margin: 5px;
    display: inline-block;
    color: #fcab2b;
    font-size: 16px;
}
.widget.wid-new-updates ul span img {
    margin: 10px 0 0 5px;
}
.wid-tag ul li {
    display: inline;
}
.wid-tag ul a {
    display: inline;
    margin: 5px;
    float: left;
    background: #fcab2b;
    color: #fff;
    padding: 5px 10px;
}
.wid-tag a:hover {
    background: #2e2e2e;
}
.widget.wid-post {} .widget.wid-post .post {} .widget.wid-post img {
    float: left;
    margin: 15px 5px;
    max-width: 130px;
}
.widget.wid-post h6 {
    color: #fcab2b;
}
.widget.wid-post .wrapper {
    vertical-align: middle;
    text-align: left;
    line-height: 1.4em;
    padding-bottom: 7px;
    margin-top: 22px;
    display: inline-block;
}
.widget.wid-last-updates {} .widget.wid-last-updates img {
    float: left;
    margin: 15px 5px;
    max-width: 130px;
}
.widget.wid-last-updates h6 {
    color: #fcab2b;
}
.widget.wid-last-updates .wrapper {
    vertical-align: middle;
    text-align: left;
    line-height: 1.4em;
    padding-bottom: 7px;
    margin-top: 22px;
    display: inline-block;
}
.widget.wid-gallery {} .widget.wid-gallery img {
    margin: 0 10px 10px 0;
    max-width: 150px;
}
.widget.wid-archive {} .widget.wid-archive select {
    margin: 5px 0;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    background-color: #e9e9e9;
    color: #777777;
    border: none;
}
.widget.wid-meta {} .widget.wid-meta ul li {} .widget.wid-meta ul li {
    line-height: 2.8;
    border-bottom: 2px solid #fcab2b;
}
.widget.wid-meta ul a {
    font-size: 16px;
    color: #fff;
}
.widget.wid-related {} .widget.wid-related img {
    max-height: 240px;
}
.widget.wid-related h4 {
    margin-top: 10px;
    color: #fff;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */

footer {
    ;
    background-color: rgba(0, 0, 0, 0.8);
}
footer .widget {
    border: none;
    background-color: transparent;
}
footer {
    padding: 10px 0;
}
footer .copyright {
    position: relative;
}
footer .copyright p a{
    color:#fff;
	text-decoration:underline;
}
footer .back-to-top {
    display: none;
    position: fixed;
    right: 3px;
    bottom: 14px;
    cursor: pointer;
}
footer .copyright .copyright-info {
    font-style: italic;
}
footer .bottom-footer {
    background-color: #1d1d1d;
    padding: 10px;
}
footer .bottom-footer p {
    text-align: center;
    color: #fff;
}
footer .last-footer {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fcab2b;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
footer .last-footer h6 {
    font-size: 12px;
    line-height: 12px;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Img-Effect------------------------------ */
/* ---------------------------------------------------------------------------- */

.view {
    max-width: 160px;
    max-height: 270px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 5px #aaa;
    cursor: default;
    display: inline-block;
}
.view .mask,
.view .content {
    width: 100%;
    height: 230px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
}
.view img {
    display: block;
    position: relative;
}
.view a.info {
    /*background:url(../imgages/link.png) center no-repeat;*/

    display: inline-block;
    text-decoration: none;
    padding: 0;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
}
.effect .mask {
    opacity: 0;
    overflow: visible;
    border: 0px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}
.effect a.info {
    position: relative;
    top: 0px;
    right: 43px;
    opacity: 0;
    transform: scale(0, 0);
    transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.effect:hover .mask {
    opacity: 1;
    border: 100px solid rgba(0, 0, 0, 0.7);
}
.effect:hover a.info {
    opacity: 1;
    transform: scale(1, 1);
    transition-delay: 0.3s;
}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Pagination------------------------------ */
/* ---------------------------------------------------------------------------- */

.btn {
    padding: 10px;
    border-radius: 5px;
    /*optional*/

    color: #aaa;
    font-size: 13px;
}
.pagination {
    padding: 20px;
}
.page {
    display: inline-block;
    padding: 0px 9px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.page:hover,
.page.gradient:hover {
    background: #fcab2b;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}
.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px rgba(255, 255, 255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}
.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9);
}
.pagination {
    color: #feffff;
}
.page {
    border: solid 1px #32373b;
    background: #fcab2b;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1), 0px 1px 3px rgba(0, 0, 0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
}
.page:hover,
.page.gradient:hover {
    background: #fcab2b;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
}
.page.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px rgba(255, 255, 255, .1);
}
.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Select------------------------------ */
/* ---------------------------------------------------------------------------- */

select {
    border-bottom: 2px solid #fcab2b;
    font: bold 13px Arial, Helvetica, Sans-serif;
    color: #777;
    width: 125px;
    padding: 7px;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */

a.button {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    background: #fcab2b;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin-right: 0px;
}
a.button:hover {
    opacity: 0.9;
}
a.button.bt1 {
    background: #f8881b;
    border: 1px solid #eee;
    font-size: 22px;
    padding: 10px 15px;
    margin-right: 10px;
}
a.button.bt2 {
    background: #0000ff;
    color: #ffffff;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */

.contact {
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 10px;
	margin-bottom:20px;
}
.contact2{
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 10px;
    margin:20px;
}
.contact h2 {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-top: 70px;
    text-align: center;
}
.contact p {
    text-align: center;
    margin-bottom: 50px;
}
.contact hr {
    margin-top: 18px;
    width: 10%;
}
.contact p a {
    color: #fcab2b;
}
.dmca p {
    text-align: justify;
}
#contact_form {
    padding: 25px;
}
textarea {
    display: block;
    width: 90%;
    height: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #fff;
    color: #2e2e2e;
    border: 1px solid #5f5f5f;
    padding: 10px;
    margin: 5px 0 25px 0;
}
.view-more {
    padding: 6px 15px;
    background-color: #fcab2b;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.view-more:hover {
    color: #fff;
    text-decoration: none;
}
.vote-star {
    margin: 10px 0px !important;
}
#frame-player {
    width: 100%;
    height: 600px;
}
.bar-player {
    padding: 10px;
	background-color:#222222;
}
.bar-player i {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
}
.bar-player span {
    color: #fff;
    font-size: 14px;
}
.bar-player a {
    margin-right: 10px;
    margin-left: 5px;
}
.please-vote-star {} .please-vote-star i {
    font-size: 18px;
    color: #fcab2b;
}
.menu-server{
	background-color:#222222;
}
.menu-server i,
.menu-server span {
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
}
.menu-server .server1,
.menu-server .server2{
	padding:10px;
	border-top:1px solid #eeeeee;
}
.menu-server .btn-play {
    background-color: #fcab2b;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    border:0px;
}
.player-embed {
    position: relative;
    z-index: 999;
}
.btn-lightbulb {
    color: #fff;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-warning i {
    padding-top: 5px;
}
.alert-share {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.alert-share i {
    margin-left: 20px;
}
.addthis_native_toolbox {
    float: left;
}
#comment {
    background-color: #fff;
    margin-top: 30px;
}
/*turn off the light*/

#shadow {
    background-image: url(../images/shade1x1.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: block;
}
.turnedOff {
    color: #ffff00;
    background-image: url(../images/light_bulb.png) no-repeat left top;
}
/*Slider show*/

.glide__slide img {
    width: 100%;
    cursor: pointer;
}
.view-more-small a {
    font-size: 14px;
    color: #fff;
    text-decoration: underline
}
.view-more-small {
    margin-left: 6px;
    margin-top: 25px;
}
ol li {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}
ol li a {
    color: #fff;
}
ol li a:hover {
    text-decoration: underline;
    background-color: #fcab2b !important;
    color: #2e2e2e !important;
}
ol li:hover {
    background-color: #fcab2b;
}
.btn-eps {
    background: #f8881b;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 8px 5px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}
.eps-more {
    margin-top: 10px;
}
.fix-menu-top {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 1000;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color:#fcab2b;
}
.nav-pills{
	padding-top: 10px;
    padding-left: 12px;
}
.nav-pills>li{background-color:#efefef;margin-top: 2px;}
.btn-sumit-request{
	background-color:#fcab2b;
	color:#fff;
}
.ul-detail-movie p, .ul-detail-movie h2 {color:#000;font-weight:bold;}
.ul-detail-movie p a{color:#fcab2b !important;}
.article-movie-detail{margin-bottom:20px;}
.modal-title{color:#000;}
#suggesstion-box{
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    padding: 10px;
    overflow-y: auto;
    max-height: 150px;
    display:none;
}
#suggesstion-box ul li:hover{
    background-color: #fcab2b;
    border-bottom:1px solid #eeeeee;
}
#suggesstion-box ul li:hover a{
    color:#2e2e2e;
}

.tab-content{
    padding: 20px;
    line-height: 40px;
}

.img-fb{
    cursor: pointer;

}
.modal-body iframe{
    width:100%;
    height:300px;
}
.nav-pills li{ cursor:pointer;}
#suggestion-content .please-vote-star{display:none;}

.btn-eps{ line-height:35px;}
#container, #side-bar{max-width:1440px; margin:0 auto;}

.wrap-header .container-fluid > .row:first-child{
    max-width: 1440px;
    margin: 0 auto;
}
.top-bar > .container-fluid{
    max-width: 1440px;
}
